@import url("./global.css");

#game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70rem;
  height: 40rem;
  gap: 1rem;
}

header {
  text-align: center;
}

#gameWaiter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border: 1px solid var(--color-bg-card-medium);
  padding: 5rem;
  border-radius: 1rem;
}

#gameWaiter > p {
  font-size: 2rem;
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30rem;
}

.game__controls {
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 20%;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 40%;
  padding: 2rem;
  padding-top: 3rem;
  border-radius: 1rem;
  background-color: var(--color-bg-card-medium);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
  opacity: 0.6;
}

.player__indicator {
  position: absolute;
  top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.score {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 16rem;
  margin-bottom: -2rem;
}

.win__indicator {
  font-size: 4rem;
}

.result__indicator {
  font-size: 3rem;
  margin-bottom: -1rem;
}

.player__score {
  font-size: 7rem;
}

.player__name {
  font-size: 2rem;
  font-weight: normal;
  color: var(--color-font-secondary);
}

.player__pot {
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
  padding: 1rem 1rem;
  border-radius: 1rem;
  width: 15rem;
  /* background-color: var(--color-bg-secondary); */
  background-color: transparent;
}

.button {
  color: var(--color-font-secondary);
  border: none;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.2s;

  background-color: var(--color-bg-card-hard);

  width: 8rem;
  padding: 1rem 0rem;
  border-radius: 2rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.button:hover {
  transform: translateY(3px);
  background-color: var(--color-bg-card-medium);
}

.game__controls__div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#gameDice {
  height: 8rem;
  width: 8rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  transition: all 1s;
  z-index: 1;
}

.dice__player1 {
  transform: translate(-100%);
}

.dice__player2 {
  transform: translate(100%);
}

.dice__middle {
  transform: translate(0%);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 1rem;
}

footer .game__controls__div {
  flex-direction: row;
}

#gameId {
  font-size: 1.5rem;
  width: 100%;
  text-align: left;
}

.footer--hidden {
  justify-content: center;
  flex-direction: column-reverse;
  width: fit-content;
  align-items: center;
  gap: 1rem;
}

.footer--hidden > #gameId {
  position: relative;
  left: 0;
}

.footer--hidden > .game__controls__div > #btnRematch {
  display: none;
}

/* states */

.offline {
  background-color: transparent;
  opacity: 1;
}

.active {
  opacity: 1;
}

.active > .player__pot {
  background-color: var(--color-bg-secondary);
}

.game-over {
  justify-content: center;
}

.game-over > .player__name {
  font-size: 4rem;
  color: var(--color-font-primary);
}

.game-over > .player__pot {
  display: none;
}

.loser > .player__name {
  font-size: 4rem;
  color: var(--color-font-secondary);
}

.winner {
  opacity: 1;
}
