@import url("./global.css");

h2 {
  font-size: 3rem;
}

p {
  font-size: 2rem;
}

main {
  display: flex;
  margin: 0 auto;
  width: 70rem;
  height: 30rem;
  border-radius: 2rem;
  padding: 2rem;
  gap: 2rem;
  border: 1px solid var(--color-bg-card-medium);
}

section {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  padding: 2rem;
  background-color: var(--color-bg-card-medium);
}

#join-game-options {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin-top: 2rem;
}

.button {
  color: var(--color-font-primary);
  border: none;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.2s;
  border: 1px solid var(--color-bg-card-medium);

  background-color: var(--color-bg-card-soft);

  padding: 1rem;
  border-radius: 2rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.button:hover {
  transform: translateY(3px);
  background-color: var(--color-bg-card-medium);
}

.active--btn {
  animation: colorChange 2s infinite;
  border-color: var(--color-bg-main);
}

#join-game-byid {
  display: flex;
  gap: 1rem;
  padding: 0rem 2rem;
}

input {
  font-size: 1.5rem;
  appearance: none;
  border: none;
  outline: none;
  border-bottom: 0.3rem solid var(--color-bg-card-soft);
  background-color: transparent;
  transition: border-bottom 0.5s;
  color: var(--color-font-primary);
}

input:focus {
  border-bottom-color: var(--color-bg-card-hard);
  cursor: pointer;
}

::placeholder {
  color: var(--color-font-primary);
  opacity: 0.6;
}

::-ms-input-placeholder {
  color: var(--color-font-primary);
}

#create-game-options {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 2rem;
  justify-content: space-around;
}

.number-input-div {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}

.number-input-div label {
  font-size: 1.6rem;
}

.number-input {
  border: none;
  width: 8rem;
  border-bottom: 0.3rem solid var(--color-bg-card-soft);
  text-align: center;
  padding: 0.4rem;
  &::-webkit-inner-spin-button {
    opacity: 0.5;
  }
}

.number-input-div #starter {
  width: 4rem !important;
}

.privacy-option {
  display: flex;
  gap: 1rem;
}

.privacy-option label {
  padding: 0.7rem 1rem;
  transition: all 0.2s;
}

.privacy-option .active {
  background-color: var(--color-bg-card-medium);
}

img {
  width: 2rem;
  height: 2rem;
  padding-top: 4px;
  filter: invert(100%) brightness(80%);
  &:hover {
    filter: invert(100%);
  }
}

#create-game-options .button-div {
  display: flex;
  gap: 2rem;
  justify-content: right;
}

.disabled {
  opacity: 0;
}

.button-div button {
  background-color: transparent;
  border: none;
  padding: 0.2rem;
}

.active--btn {
  animation: colorChange 2s infinite;
}

@keyframes colorChange {
  0% {
    background-color: rgba(255, 255, 255, 0.3);
  }
  50% {
    background-color: rgba(255, 255, 255, 0);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.3);
  }
}
